.tweet-card {
    background-color: aliceblue;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .header-image {
    background-image: url('https://static01.nyt.com/images/2014/08/10/magazine/10wmt/10wmt-superJumbo-v4.jpg');
    background-size: cover;
  }